# Scripts and testing logic shouldn't be publicly scanned as vulnerabilities
scripts/
spec/

# CI/CD and Version Control
.github/
.gitea/

# Ignore documentation sources (only README is needed)
docs/
jsdoc.json
